<a href="https://colab.research.google.com/github/mdaugherity/MachineLearning2026/blob/main/class/HW2_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#HW 2 - Exploratory Data Analysis

**Pre-reqs:**  *Tutorial 5 - Pandas*

Before we can do fancy machine learning we need to know how to visualize a dataset and find basic relationships in the data.  This process is called **Exploratory Data Analysis** (EDA), and it is the necessary first step to machine learning.  You will get a mysterious dataset with little context to analyze.  Remember: people only learn by doing, so the only way to learn how to do this is to give it a try.  

My final advice is that it that it is not enough to just “look” at the data.
**You need to have specific questions that you are trying to answer!**

## Problem Scenario
The *Pasty Python* is a new restaurant that has hired you to help.  The staff have been collecting data on customers for you to study.  Don't worry that the data seems to be from 1995. You meet with the owners and they talked about lots of things.  Help them out.

Your python notebook is the report that you are giving to the owners.  Make it look nice, easy to read, and have clear questions and answers.


## Dataset
The actual dataset is from a waiter who recorded information about every tip he earned over a period of several months.  The reference is Bryant, P. G. and Smith, M (1995) Practical Data Analysis: Case Studies in Business Statistics. Homewood, IL: Richard D. Irwin Publishing

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/mdaugherity/MachineLearning2026/refs/heads/main/class/tips.csv')

In [ ]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
df.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

# Problem 0 - Visualization
There are 7 columns in the data. Make nice plots for 3 of them.

# Problem 1 - Specific Questions

a) Print the whole row for the single largest bill in the dataset

b) Do smokers or non-smokers tip more?

c) Find the sum of the total bill for all Saturday lunches

d) What is the average tip percentage?

e) Make a scatter plot of total_bill vs tip where each point is colored by time

# Problem 2 - Pandas Specific

a) Use groupby to do something interesting

b) Give an example of using the by command to make a cool plot

# Problem 3 - Asked and Answered
Ask your own specific question here, then answer it: